@font-face {
  font-family: 'Belwe';
  src: url('/belwe-bd-bt-bold.woff') format('woff');
}

h1,h2,h3,h4,h5 {
  text-align: center;
}

button {
  margin-bottom: 0px !important;
}

.books {
  list-style-type: none;
}

body {
  margin-top: 60px;
  background: transparent url("/img/body-content-bg.jpg") 50% 0 repeat-y;
  font-family: 'Belwe', sans-serif;
  color: #625545;
}

body, a {
  cursor: url("/img/hand64.png"), auto !important;
}

body:active, a:active {
  cursor: url("/img/hand64-rotated.png"), auto !important;
}

.card-builder-nav {
  background: url("/img/nav-bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 98px;
  bottom: 26px;
}

.card-builder-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin: 0px 77px 0 77px;
  padding-top: 34px;
  font-family: "Bliz Quadrata", Times New Roman, Serif;
  font-size: 20px;
  color: rgb(252, 209, 68);
  outline-color: rgb(252, 209, 68);
}

#card-filter {
  padding: 0 20px;
}

#card-filter ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#card-filter li {
  float: left;
  width: 60px;
  height: 50px;
  background: url("/img/ClassIcons_ForTabs.png") no-repeat;
  background-size: 600%;
  background-color: black;
  border-radius: 40px/15px;
  margin-right: 12px;
  box-shadow: 1px 4px 4px 3px rgba(0,0,0,0.75);
  position: relative;
  border: 2px solid black;
  margin-bottom: -3px;
}

#card-filter li:before {
  content: "";
  background: url("/img/ArrowsCardCounts.png") no-repeat;
  border: 6px solid rgba(234,188,109,1.0);
  position: absolute;
  width: 58px;
  height: 120%;
  pointer-events: none;
  border-radius: 40px/15px;
  top: -1px;
  left: -1px;
}

#card-filter li:after {
  content: "";
  border: 3px solid rgba(255,246,136, 0.75);
  position: absolute;
  width: 53px;
  height: 100%;
  top: 2px;
  border-radius: 40px/15px;
  left: 1px;
  box-shadow: inset 3px 2px 1px rgba(0,0,0,0.5);
  pointer-events: none;
}

#card-filter li a {
  display: block;
  width: 60px;
  height: 60px;
}

#card-filter li:hover:before {
  box-shadow: inset 0px 4px 24px rgba(0,0,0,1.0);
}

#card-filter li.current {
  transform: scale(1.45);
  margin-right: 0px;
  z-index: 1;
}

#card-filter li.current + li {
  margin-left: 11px;
}

#card-filter li.current:before {
  box-shadow: inset 0px 4px 24px rgba(234,188,109,1.0);
}

#card-filter li.neutral {
  background-position: -270px -82px;
}
#card-filter li.shaman {
  background-position: -271px -7px;
}
#card-filter li.paladin {
  background-position: -78px -11px;
}
#card-filter li.mage {
  background-position: -10px -10px;
}
#card-filter li.druid {
  background-position: -140px -80px;
}
#card-filter li.hunter {
  background-position: -205px -81px;
}
#card-filter li.rogue {
  background-position: -205px -8px;
}
#card-filter li.warrior {
  background-position: -79px -76px;
}
#card-filter li.priest {
  background-position: -141px -8px;
}
#card-filter li.warlock {
  background-position: -9px -75px;
}

.card-builder-nav li {
  float: left;
  width: 160px;
}

.card-builder-nav li a {
  display: block;
  color: #fcd144;
  text-shadow: 0 0 15px #000,
              0 0 15px #000;
  line-height: 38px;
  height: 38px;
  padding: 0;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}

.card-builder-nav li.active a:hover,
.card-builder-nav li a:hover {
  color: #ffeba5;
}

.card-builder-nav li:not(.active) a:hover {
  /*background-color: rgba(163,59,30, 0.3);*/
  background-color: rgba(255,255,255, 0.25);
  /*box-shadow: inset 0 0 10px rgba(163,59,30, 0.9);*/
  /*box-shadow: inset 0 0 10px rgba(0,0,0, 0.3);*/
}

.card-builder-nav li.active a {
  background: rgba(0,0,0,0.3);
  border-left: 2px solid rgba(108,34,35, 0.3);
  border-right: 2px solid rgba(108,34,35, 0.3);
}

.card-builder-nav li.active a {
  color: #fff;
}

#search-input {
  padding: 5px 0px 5px 5px;
}

#search-field {
  color: #f06841 !important;
  line-height: 1.6;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: 0;
  font-size: 13px;
  font-family: "Open Sans", Tahoma, Verdana, Arial, Helvetica, sans-serif;
  padding: 3px 22px 3px 5px;
  height: 27px;
}

.search-bar {
  background-color: #4c1107;
  border: 1px solid #89371e;
  border-radius: 5px;
  box-shadow: inset 0 0 5px #3f0e06;
  max-width: 15rem;
  position: relative;
}

#card-book {
  height: 700px;
  overflow: hidden;
  background: url("/img/PageA.png"), url("/img/PageA.png"), url("/img/PageA.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 95% 112%, 100% 110%, 100% 106%;
  background-color: black;
  background-position-x: -2px, -35px, -23px;
  background-position-y: 0px, 6px, 14px;
  padding: 77px 84px 50px 60px;
}

.card {
  float: left;
  width: 200px;
  height: 270px;
  margin-right: 12px;
  -webkit-filter: drop-shadow(8px 8px 11px rgba(0,0,0,0.5));
  filter: drop-shadow(8px 8px 11px rgba(0,0,0,0.5));
}

.card:hover {
  -webkit-filter: drop-shadow(0px 0px 10px rgba(255,255,255,1));
  filter: drop-shadow(0px 0px 10px rgba(255,255,255,1));
  /*box-shadow: 0px 0px 5px #fff;*/
}

#card-book:before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 22px;
  left: 22px;
  pointer-events: none;
  box-shadow: inset 0 0 40px rgba(0,0,0,0.75);
}

#card-book:after {
  content: "";
  position: absolute;
  top: -8px;
  right: 15px;
  bottom: -8px;
  left: 15px;
  border: 8px solid #dec79b;
  border-width: 17px 20px;
  border-image: url("/img/artwork-frameV2.png") 17 20 stretch;
  pointer-events: none;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

#card-book-mana-filter {
  margin-top: 26px;
}

.page-num {
  position: absolute;
  left: 45%;
  bottom: 25px;
  font-size: 18px;
}

.hero-filter {
  position: absolute;
  left: 28%;
  top: 13px;
  color: #2a1803;
  font-size: 21px;
  background-image: url("/img/ClassHeaders.png");
  padding-top: 25px;
  width: 404px;
  text-align: center;
  background-size: 200%;
  z-index: 0;
  height: 85px;
}

.hero-filter.neutral {
  background-position: 0px -8px;
}
.hero-filter.shaman {
  background-position: 0px -108px;
}
.hero-filter.paladin {
  background-position: 0px -210px;
}
.hero-filter.mage {
  background-position: 0px -312px;
}
.hero-filter.druid {
  background-position: 0px -413px;
}
.hero-filter.hunter {
  background-position: 0px -513px;
}
.hero-filter.rogue {
  background-position: 0px -613px;
}
.hero-filter.warrior {
  background-position: 0px -715px;
}
.hero-filter.priest {
  background-position: 403px -8px;
}
.hero-filter.warlock {
  background-position: 403px -109px;
}

.prev-page {
  cursor: url("/img/prev_page_64.png"), auto !important;
}

.next-page {
  cursor: url("/img/next_page_64.png"), auto !important;
}

.prev-page {
  position: absolute;
  left: -35px;
  top: 0;
  width: 90px;
  height: 100%;
}

.next-page {
  position: absolute;
  right: -15px;
  top: 0;
  width: 120px;
  height: 100%;
}



