h1,h2,h3,h4,h5 {
  text-align: center;
}

button {
  margin-bottom: 0px !important;
}

.books {
  list-style-type: none;
}

body {
  margin-top: 60px;
  background: transparent url("/img/body-content-bg.jpg") 50% 0 repeat-y;
}

.card-builder-nav {
  background: url("/img/nav-bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 98px;
  bottom: 26px;
}

.card-builder-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin: 0px 77px 0 77px;
  padding-top: 34px;
  font-family: "Bliz Quadrata", Times New Roman, Serif;
  font-size: 20px;
  color: rgb(252, 209, 68);
  outline-color: rgb(252, 209, 68);
}

#card-filter ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#card-filter li {
  float: left;
  width: 60px;
  height: 60px;
}

.card-builder-nav li {
  float: left;
  width: 160px;
}

.card-builder-nav li a {
  display: block;
  color: #fcd144;
  text-shadow: 0 0 15px #000,
              0 0 15px #000;
  line-height: 38px;
  height: 38px;
  padding: 0;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}

.card-builder-nav li.active a:hover,
.card-builder-nav li a:hover {
  color: #ffeba5;
}

.card-builder-nav li:not(.active) a:hover {
  /*background-color: rgba(163,59,30, 0.3);*/
  background-color: rgba(255,255,255, 0.25);
  /*box-shadow: inset 0 0 10px rgba(163,59,30, 0.9);*/
  /*box-shadow: inset 0 0 10px rgba(0,0,0, 0.3);*/
}

.card-builder-nav li.active a {
  background: rgba(0,0,0,0.3);
  border-left: 2px solid rgba(108,34,35, 0.3);
  border-right: 2px solid rgba(108,34,35, 0.3);
}

.card-builder-nav li.active a {
  color: #fff;
}

#search-input {
  padding: 5px 0px 5px 5px;
}

#search-field {
  color: #f06841 !important;
  line-height: 1.6;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: 0;
  font-size: 13px;
  font-family: "Open Sans", Tahoma, Verdana, Arial, Helvetica, sans-serif;
  padding: 3px 22px 3px 5px;
  height: 27px;
}

.search-bar {
  background-color: #4c1107;
  border: 1px solid #89371e;
  border-radius: 5px;
  box-shadow: inset 0 0 5px #3f0e06;
  max-width: 15rem;
  position: relative;
}

#card-book {
  height: 600px;
  overflow-y: scroll;
}

#card-book:before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 22px;
  left: 22px;
  pointer-events: none;
  box-shadow: inset 0 0 40px rgba(0,0,0,0.75);
}

#card-book:after {
  content: "";
  position: absolute;
  top: -8px;
  right: 15px;
  bottom: -8px;
  left: 15px;
  border: 8px solid #dec79b;
  border-width: 17px 20px;
  border-image: url("/img/artwork-frameV2.png") 17 20 stretch;
  pointer-events: none;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}


