<div id="cards" class="row">
  <div class="large-12 column">
    <div id="card-filter">
      <ul>
        <li>
          <a href=""></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="large-12 column" style="z-index: 1;">
    <div class="prev-page"></div>
    <div class="hero-filter">
      <span></span>
    </div>
    <div id="card-book">
      <div class="card card-animation">
        <img alt="">
      </div>
    </div>
    <div class="page-num">
      <span>Page X</span>
    </div>
    <div class="next-page"></div>
  </div>
  <div class="large-12 column">
    <div id="card-book-mana-filter">
      <ul>
        <li>
          <a href=""></a>
        </li>
      </ul>
    </div>
  </div>
</div>
