<div class="column large-12 text-center">
  <img src="/img/logo-small.png" height="178" width="435" alt="">
  <nav class="card-builder-nav" role="navigation">
    <ul>
      <li ui-sref-active="active">
        <a ui-sref="cards">Cards</a>
      </li>
      <li>
        <a href="decks">My Decks</a>
      </li>
      <li>
        <a href="admin">Admin</a>
      </li>
      <li id="search-input">
        <div class="search-bar">
          <input type="text" id="search-field" placeholder="Search..." />
        </div>
      </li>
    </ul>
  </nav>
</div>
