/* when an item enters the screen angular gives it this class */
.card.ng-enter {
  transition: all 0.5s linear;
  transform: scale(0);
  opacity: 0.25;
}

/* to control staggering you simply tweak these css transition-delay/duration values*/
.card.ng-enter-stagger {
  transition-delay: 0.1s;
  transition-duration: 0s;
}

/* at the final stage an element receives the active state, the last stage of animation */
.card.ng-enter-active {
  transform: scale(1);
  opacity: 1;
}
