<div id="login" class="row">
  <div class="large-6 large-offset-3">
    <form ng-submit="login()">
      <fieldset class="radius">
        <div class="row">
          <div class="large-6 columns">
            <input ng-model="credentials.username" type="text" name="username" placeholder="username"/>
          </div>
            <div class="large-6 columns">
            <input ng-model="credentials.password" type="password" name="password" placeholder="password"/>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <button type="submit" class="button large expand radius">Log In</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
