<div id="admin" class="row">
  <ng-include src="'nav.html'"></ng-include>
  <card-editor>
    <card-editor-columns>
      <column title="ID"       field="id"></column>
      <column title="Name"     field="name"></column>
      <column title="Category" field="category"></column>
      <column title="Health"   field="health"></column>
      <column title="Mana"     field="mana"></column>
    </card-editor-columns>
    <card-editor-rows with-inline-editor source="/api/other-cards"></card-editor-rows>
  </card-editor>
</div>
